/* 1. exercice-baseline-1 */
.exercice-baseline-1 .container {
  display: flex;
  align-items: baseline;
}
/* 2. exercice-baseline-2 */
.exercice-baseline-2 .container {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  flex-wrap: wrap-reverse;
}

.exercice-baseline-2 .element {
  flex-grow: 1;
  width: 35%;
}
/* 3. exercice-baseline-3 */
.exercice-baseline-3 .container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.exercice-baseline-3 .element {
  margin-top: 15%;
}
/* 4. exercice-flow-1 */
.exercice-flow-1 .container {
  display: flex;
  flex-flow: row wrap;
}
/* 5. exercice-flow-2 */
.exercice-flow-2 .container{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
/* 6. exercice-all-in-1 */
.exercice-all-in-1 .container {
  display: flex;
  /* flex-flow: column-reverse wrap-reverse; */
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-between;
}
/* 7. exercice-all-in-2 */
